header {
  overflow: hidden;
}

.container {
  position: relative;
}


.form {
  position: relative;
  margin: 10% 30% 20% 30%
}

h1 {
  text-align: center;
}

h2,
h3 {
  text-align: center;
}

.alert {
  position: absolute;
  bottom: 30%;
  left: 40%;
  text-align: center;
}


.btn {
  position: absolute;
  top: 20%;
  left: 45%
}

